---
// src/components/ToolCard.astro
import type { Tool } from '../types';

export type Props = Pick<Tool, 'title' | 'link' | 'description' | 'image' | 'tags'>;

const { title, link, description, image, tags } = Astro.props;
---
<div class="border dark:border-gray-700 rounded-lg overflow-hidden shadow-lg bg-white dark:bg-gray-800 flex flex-col h-full">
    <a href={link} target="_blank" rel="noopener noreferrer">
        <img class="w-full h-24 object-contain p-2 bg-white" src={image} alt={`${title} logo`} />
    </a>
    <div class="p-3 flex flex-col flex-grow">
        <h3 class="font-bold text-md mb-2 text-gray-900 dark:text-white">{title}</h3>
        <p class="text-gray-600 dark:text-gray-400 text-sm mb-3 flex-grow">{description}</p>
        <div class="mb-3">
            {tags.slice(0, 3).map(tag => (
              <span class="inline-block bg-gray-100 dark:bg-gray-700 rounded-full px-2 py-0.5 text-xs font-semibold text-gray-600 dark:text-gray-300 mr-1 mb-1">{tag}</span>
            ))}
        </div>
        <a href={link} target="_blank" rel="noopener noreferrer" class="text-blue-500 hover:underline text-sm mt-auto">
            Visit Tool
        </a>
    </div>
</div>